// Base
@import "../../node_modules/normalize.css/normalize";
@import "base";

// Page
#guest {
  display: contents;

  @import "guest";
}

#presenter {
  display: contents;

  @import "presenter";
}

#slideshow {
  display: contents;

  @import "slideshow";
}
