<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://yuheiy.github.io/{{ repository }}/{{ slides[0].image.src }}">
    <meta property="og:url" content="https://yuheiy.github.io/{{ repository }}/">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="安田祐平">
    <meta property="og:locale" content="ja_JP">
    <link rel="canonical" href="/{{ repository }}/">
    <link rel="stylesheet" href="build/main.css">
    <script type="module" src="build/main.js"></script>
  </head>

  <body>
    <svg display="none">
      <symbol id="icon-arrow-upward" width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z"/>
        <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/>
      </symbol>
      <symbol id="icon-arrow-downward" width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z"/>
        <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/>
      </symbol>
      <symbol id="icon-play" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </symbol>
      <symbol id="icon-timer" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
      </symbol>
      <symbol id="icon-clear" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </symbol>
    </svg>

    <div id="guest">
      <div class="root">
        <header class="header">
          <h1>{{ title }}</h1>
          <p>{{ description }}</p>
        </header>

        <footer class="colophon">
          <div>
            <address><a href="https://yuheiy.com/"><img src="avator.png" alt="">安田祐平</a></address>
            <p><time datetime="{{ published }}">{{ published | displayPublished }}</time>発表</p>
          </div>
        </footer>

        <ol class="slides" aria-label="スライド">
          {%- for slide in slides %}
          <li id="{{ slide.id }}">
            <p><img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}"><a href="#{{ slide.id }}" aria-label="{{ loop.index }}ページ目へのパーマリンク">#</a></p>
            {%- if slide.notes.length %}
            <ul>
              {%- for note in slide.notes %}
              <li id="{{ slide.id }}:{{ loop.index }}">{{ note | safe }}</li>
              {%- endfor %}
            </ul>
            {%- endif %}
          </li>
          {%- endfor %}
        </ol>

        <footer class="footer">
          <div>
            <address><a href="https://yuheiy.com/"><img src="avator.png" alt="">安田祐平</a></address>
            <p><a href="./?view=presenter"><svg width="24" height="24" viewBox="0 0 24 24"><use href="#icon-play"></svg>スライドショー</a></p>
          </div>
        </footer>
      </div>
    </div>

    <div id="presenter" hidden>
      <div class="root">
        <div class="main js-main">
          <button class="to-selected upward js-to-selected js-to-selected-upward" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24"><use href="#icon-arrow-upward"></svg>
            選択中のスライド
          </button>

          <ol class="slides" aria-label="スライド">
            {%- for slide in slides %}
            <li class="js-slide" tabindex="-1">
              <label>
                <input class="visuallyhidden" type="radio" name="slide" value="{{ loop.index }}" aria-label="{{ loop.index }}枚目のスライド">
              </label>
              <div>
                <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                {%- if slide.notes.length %}
                <ul>
                  {%- for note in slide.notes %}
                  <li>{{ note | safe }}</li>
                  {%- endfor %}
                </ul>
              </div>
              {%- endif %}
            </li>
            {%- endfor %}
          </ol>

          <button class="to-selected downward js-to-selected js-to-selected-downward" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24"><use href="#icon-arrow-downward"></svg>
            選択中のスライド
          </button>
        </div>

        <nav class="status-bar">
          <div class="status-bar__inner">
            <div class="status-bar__slideshow">
              <a class="slideshow js-slideshow" href="./?view=slideshow" target="SlideshowWindowName">
                <svg class="slideshow__icon" width="24" height="24" viewBox="0 0 24 24">
                  <use href="#icon-play">
                </svg>
                <span class="js-slideshow-text" data-playing-text="スライドショーを再生中">スライドショー</span>
              </a>
            </div>
            <div class="status-bar__timer">
              <span class="timer">
                <svg class="timer__icon" width="24" height="24" viewBox="0 0 24 24" role="img" aria-label="タイマー">
                  <use href="#icon-timer">
                </svg>
                <span class="timer__time js-timer-elapsedTime">00:00</span>
                <button class="timer__reset js-timer-reset" type="button">
                  <svg class="timer__resetIcon" width="24" height="24" viewBox="0 0 24 24" role="img" aria-label="タイマーをリセット">
                    <use href="#icon-clear">
                  </svg>
                </button>
              </span>
              <span class="timer-state">
                <label class="timer-state__item">
                  <input class="visuallyhidden" type="radio" name="timer" value="up">
                  <span class="timer-state__itemInner">カウントアップ</span>
                </label>
                <label class="timer-state__item">
                  <input class="visuallyhidden" type="radio" name="timer" value="silent">
                  <span class="timer-state__itemInner">静止</span>
                </label>
              </span>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div id="slideshow" hidden>
      <div class="root">
        <ol class="slides">
          {%- for slide in slides %}
          <li class="js-slide">
            <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
          </li>
          {%- endfor %}
        </ol>
      </div>
    </div>
  </body>
</html>
